body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
    text-align: center;
}

#resultado h2 {
    margin-bottom: 10px;
}

#descricao {
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

#novoValor {
    font-size: 20px;
    font-weight: bold;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}



.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    margin-right: 10px;
}

/* Responsividade para telas menores */
@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 10px;
    }
    
    h1 {
        font-size: 1.5em;
    }
    
    button {
        font-size: 14px;
    }
}
