/* Estilos para o menu lateral */
.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #555;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    margin-right: 10px;
}

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* Estilos gerais */
body {
    background-color: #f4f4f4;
    margin-left: 250px; /* Espaço para o menu lateral */
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

main {
    flex: 1;
    background-color: #fff;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.grid-item {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body { text-align: center; font-family: Arial, sans-serif; }
#dropArea {
    width: 100%;
    max-width: 400px;
    height: 200px;
    border: 2px dashed #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    background-color: #f9f9f9;
    cursor: pointer;
    color: #666;
}
#dropArea.hover {
    background-color: #e0e0e0;
}
#preview {
    width: 100%;
    max-width: 400px;
    margin: auto;
    display: none;
    border: 2px solid #333;
}
#codigo {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

h1 {
    text-align: center;
    margin: 10px;
}

h2 {
    margin-top: 0;
}

.grid-item label {
    display: block;
    margin-top: 10px;
}

.grid-item input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
    margin-bottom: 10px; /* Espaço entre botões */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    display: block;
    width: fit-content; /* Ajusta largura ao conteúdo */
    margin: 0 auto; /* Centraliza horizontalmente */
}

#checkButtonBarcode, #checkButtonPhone, #checkButtonCpf, #checkButtonEmail {
    background-color: rgb(62, 187, 37);
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

label {
    text-align: left;
    font-size: 20px;
}

/* Classe para destacar diferenças */
.highlight {
    background-color: yellow;
}
